<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid mb-5">
    <div class="row">
        <div class="d-none d-md-block col-md-4">
            <img src="/images/homeLogo.png" alt="home logo" class="img-fluid imageCenter">
        </div>
        <div class="col-md-8 p-2 text-left">
            <h1>Welcome to Socio!</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque eius, nobis suscipit, repellat debitis optio recusandae excepturi eaque commodi, vel officia! Laborum, fugit. Cumque accusamus nihil quidem, odio perferendis facere.</p>
            <div class="row">
                <div class="col">
                    <a href="/socio/new" class="btn btn-primary">New Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center">
        <div class="d-none d-md-block col-md-3 px-3">
            <p>Sidebar</p>
        </div>
        <div class="col-md-9">
            <% post.forEach((event)=>{ %>
                <h3><%= event.title %></h3>
                <img src="<%= event.image %>" alt="image">
                <p><%= event.description.slice(0,100) %></p>
                <a href="/socio/<%= event._id %>" class="btn btn-primary">More Info</a>
            <% }) %>
        </div>
    </div>
</div>

<% include ../partials/footer %>